{
    "extends": ["react-app","prettier"],
    "rules": {},
    "overrides": [
      {
        "files": ["**/*.ts?(x)"],
        "rules": {
          "import/imports-first": 0,
          "import/newline-after-import": 0
        }
      }
    ]
  }